#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
eng = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [4]:
users = pd.read_sql('SELECT * FROM users', con=eng)
display(users)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 5. Rename Id column to userId

In [5]:
users = users.rename(columns = {'Id': 'userId'})
display(users)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql('SELECT * FROM posts;', con=eng)
display(posts)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts = posts.rename(columns = {'Id': 'postId', 'OwnerUserId': 'userId'})
display(posts)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
new_users = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
display(new_users)
new_posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
display(new_posts)

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
merge_df = pd.merge(users, posts, on='userId')
display(merge_df)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90579,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90580,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90581,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
90582,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90583,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
null_cols = merge_df.isnull().sum()
null_cols[null_cols > 0]

WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Age                      63780
ProfileImageUrl          66521
AcceptedAnswerId         76021
ViewCount                48396
Body                       220
Title                    48396
Tags                     48396
AnswerCount              48396
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
ClosedDate               89024
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [11]:
# Low variance columns:

low_variance = []


for col in merge_df._get_numeric_data():
    minimum = min(merge_df[col])
    ninety_perc = np.percentile(merge_df[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)
        
        
print(low_variance)

[]

In [12]:
# After cheking how many missing values exists in which columns, we should remove the columns
# filled with more than 40% of null values

threshold = 40
null_cols = null_cols[null_cols > 0]/len(merge_df)*100
null_filter = null_cols > threshold
drop_cols = list(null_cols[null_filter].index)


merge_df.drop(drop_cols, axis=1, inplace=True)


# Since there aren't negative Ids in the real word, we should remove all rows that have negative 
# values in certain columns as seen below.
no_negative_values = merge_df[(merge_df['userId'] <0) | (merge_df['AccountId'] <0) | (merge_df['postId']<0)].index
merge_df.drop(no_negative_values, inplace=True)
merge_df

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId,postId,PostTypeId,CreaionDate,Score,Body,LasActivityDate,CommentCount
211,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,1145,662,5,54503,6,1,2010-07-19 19:14:44,152,"<p>Last year, I read a blog post from <a href=...",2014-05-29 03:54:31,5
212,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,1145,662,5,54503,12,2,2010-07-19 19:18:41,20,"<p>See my response to <a href=""http://stackove...",2010-07-19 19:18:41,1
213,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,1145,662,5,54503,32,2,2010-07-19 19:29:06,12,"<p>I recommend R (see <a href=""http://cran.r-p...",2010-07-19 19:29:06,0
214,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,1145,662,5,54503,49,2,2010-07-19 19:36:52,6,<p>You don't need to install any packages beca...,2010-07-19 19:36:52,0
215,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,1145,662,5,54503,64,2,2010-07-19 19:46:08,6,"<p>Yes, there are many methods. You would nee...",2010-07-19 20:12:16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90579,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,0,0,0,5026094,115352,1,2014-09-13 15:56:55,0,"<p>For example, I was looking at <a href=""http...",2014-09-13 16:15:30,0
90580,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,0,0,0,5026468,115360,1,2014-09-13 18:06:50,2,<p>Is Student's t test a Wald test?</p>\n\n<p>...,2014-09-13 18:06:50,4
90581,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,0,0,0,5026843,115366,1,2014-09-13 20:36:55,1,<p>Does any standard statistical software like...,2014-09-13 23:18:30,0
90582,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,1,0,0,5026998,115370,1,2014-09-13 21:39:30,1,<p>im analyzing an article for my studies with...,2014-09-13 21:39:30,2
90583,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,1,0,0,976289,115376,1,2014-09-14 01:27:54,1,<p>My goal is to create a formula that can giv...,2014-09-14 01:40:55,2

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [13]:
# The following command is used to check the data type of each column presented in the dataframe merge_df:
merge_df.dtypes

# We could change the data type from a column using the .astype() method.

userId                      int64
Reputation                  int64
CreationDate       datetime64[ns]
DisplayName                object
LastAccessDate     datetime64[ns]
Views                       int64
UpVotes                     int64
DownVotes                   int64
AccountId                   int64
postId                      int64
PostTypeId                  int64
CreaionDate        datetime64[ns]
Score                       int64
Body                       object
LasActivityDate    datetime64[ns]
CommentCount                int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [14]:
# The first step to check the outliers is to calculate the interquartile that results from the subtraction 
# of the 75% percentile for the 25% percentile.

stats = merge_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90373.0,1.658540e+04,1.527022e+04,5.0,3488.0,11075.0,27765.0,55746.0,24277.0
Reputation,90373.0,6.297061e+03,1.511683e+04,1.0,61.0,401.0,4460.0,87393.0,4399.0
Views,90373.0,1.036660e+03,2.883000e+03,0.0,5.0,46.0,515.0,20932.0,510.0
UpVotes,90373.0,7.243400e+02,2.042832e+03,0.0,1.0,22.0,283.0,11442.0,282.0
DownVotes,90373.0,2.886818e+01,9.959766e+01,0.0,0.0,0.0,8.0,779.0,8.0
AccountId,90373.0,1.462469e+06,1.364009e+06,4.0,285928.0,1074701.0,2381666.0,5026998.0,2095738.0
postId,90373.0,5.655879e+04,3.385693e+04,1.0,26034.0,57266.0,86184.0,115378.0,60150.0
PostTypeId,90373.0,1.562447e+00,5.914829e-01,1.0,1.0,2.0,2.0,6.0,1.0
Score,90373.0,2.787259e+00,4.952869e+00,-19.0,1.0,2.0,3.0,192.0,2.0
CommentCount,90373.0,1.899074e+00,2.640192e+00,0.0,0.0,1.0,3.0,45.0,3.0

In [16]:
outliers = pd.DataFrame(columns=merge_df.columns)


for col in stats.index:
    iqr = stats.at[col, 'IQR']
    cutoff = iqr *1.5
    lower = stats.at[col, '25%'] - cutoff
    upper = stats.at[col, '75%'] + cutoff
    results = merge_df[(merge_df[col] < lower) | (merge_df[col] > upper)].copy()
    results['outliers'] = col
    outliers = outliers.append(results)   
    
    
# To save the outliers dataframe into a cvs folder use the following command:
outliers.to_csv


display(outliers)

/home/almsasantos/miniconda3/envs/data_env/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

<bound method NDFrame.to_csv of       AccountId                                               Body  \
1155     154667  <p>In such a discussion, I always recall the f...
1156     154667  <p>Quick R site is basic, but quite nice for s...
1157     154667  <p><a href="http://cran.r-project.org/web/pack...
1158     154667  <p>There are many reasons; probably the main i...
1159     154667  <p>The official guides are pretty nice; check ...
...         ...                                                ...
90274   4975713  <p>I'm trying to find the name of this method ...
90326   4984229  <p>I have some university rankings data where ...
90346   2863153  <p>Hi I am fit a maxwell distribution and atte...
90408   5000552  <p>We have fitted a nonlinear function to obse...
90491   4543924  <p>I have a set of 'activity' values for some ...

      CommentCount         CreaionDate        CreationDate    DisplayName  \
1155             0 2010-07-19 19:51:34 2010-07-19 19:35:37            mbq
1156             0 2010-07-19 20:18:24 2010-07-19 19:35:37            mbq
1157             1 2010-07-19 20:25:08 2010-07-19 19:35:37            mbq
1158             3 2010-07-19 21:11:44 2010-07-19 19:35:37            mbq
1159             0 2010-07-19 21:39:35 2010-07-19 19:35:37            mbq
...            ...                 ...                 ...            ...
90274           10 2014-09-02 23:48:45 2014-09-02 23:36:37         missng
90326            8 2014-09-04 14:26:45 2014-09-04 14:25:11    Akash Kaura
90346            8 2014-09-09 17:20:43 2014-09-05 16:49:03  Abhinav Kumar
90408            9 2014-09-08 15:53:27 2014-09-08 15:07:39          Marco
90491            9 2014-09-10 17:42:37 2014-09-10 19:25:03     Joe Healey

      DownVotes     LasActivityDate      LastAccessDate PostTypeId Reputation  \
1155        126 2010-07-19 19:51:34 2014-09-13 10:26:43          2      14082
1156        126 2010-07-19 20:18:24 2014-09-13 10:26:43          2      14082
1157        126 2010-07-19 20:25:08 2014-09-13 10:26:43          2      14082
1158        126 2013-04-27 14:09:42 2014-09-13 10:26:43          2      14082
1159        126 2010-07-19 21:39:35 2014-09-13 10:26:43          2      14082
...         ...                 ...                 ...        ...        ...
90274         0 2014-09-03 23:33:44 2014-09-12 15:16:58          1         13
90326         0 2014-09-04 14:38:20 2014-09-04 15:11:46          1          6
90346         0 2014-09-09 22:39:54 2014-09-12 12:06:56          1         13
90408         0 2014-09-09 14:40:20 2014-09-11 10:58:50          1         11
90491         0 2014-09-13 03:19:04 2014-09-13 11:54:42          1          6

      Score UpVotes Views      outliers  postId userId
1155     25    4235  3320    Reputation      74     88
1156      5    4235  3320    Reputation      94     88
1157      7    4235  3320    Reputation      99     88
1158      6    4235  3320    Reputation     119     88
1159      7    4235  3320    Reputation     140     88
...     ...     ...   ...           ...     ...    ...
90274     2       0     0  CommentCount  114129  55135
90326     1       0     3  CommentCount  114339  55241
90346     2       0     0  CommentCount  114859  55302
90408     2       0     1  CommentCount  114719  55420
90491     1       0     3  CommentCount  115020  55557

[71192 rows x 17 columns]>