## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/almsasantos/Desktop/Ironhack/dataptmad1019/module-1/lab-data_cleaning/weather-raw.csv')

In [3]:
display(df)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

In [5]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

d1     20
d2     18
d3     18
d4     20
d5     14
d6     20
d7     20
d8     20
d9     22
d10    20
d11    20
d12    22
d13    20
d14    18
d15    20
d16    20
d17    20
d18    22
d19    22
d20    22
d21    22
d22    22
d23    18
d24    22
d25    20
d26    20
d27    16
d28    20
d29    18
d30    20
d31    20
dtype: int64

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,22.0,2010.000000,0.000000,2010.0,2010.000,2010.00,2010.000,2010.0
month,22.0,6.272727,3.601347,1.0,3.250,6.00,9.500,12.0
d1,2.0,21.850000,11.384419,13.8,17.825,21.85,25.875,29.9
d2,4.0,22.325000,8.254443,14.4,15.825,21.80,28.300,31.3
d3,4.0,21.150000,6.405466,14.4,16.725,20.80,25.225,28.6
d4,2.0,19.600000,10.748023,12.0,15.800,19.60,23.400,27.2
d5,8.0,20.862500,8.904243,7.9,14.150,21.05,27.650,32.1
d6,2.0,19.150000,12.232947,10.5,14.825,19.15,23.475,27.8
d7,2.0,20.500000,10.748023,12.9,16.700,20.50,24.300,28.1
d8,2.0,23.150000,8.273149,17.3,20.225,23.15,26.075,29.0
d9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d10,2.0,25.650000,12.515790,16.8,21.225,25.65,30.075,34.5
d11,2.0,21.550000,11.525841,13.4,17.475,21.55,25.625,29.7
d12,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d13,2.0,23.150000,9.404520,16.5,19.825,23.15,26.475,29.8
d14,4.0,22.225000,8.750381,13.0,15.625,23.00,29.600,29.9
d15,2.0,19.600000,12.869343,10.5,15.050,19.60,24.150,28.7
d16,2.0,24.350000,9.545942,17.6,20.975,24.35,27.725,31.1
d17,2.0,22.750000,7.424621,17.5,20.125,22.75,25.375,28.0
d18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d19,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d23,4.0,20.500000,9.118845,10.7,13.925,20.70,27.275,29.9
d24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d25,2.0,22.650000,9.970206,15.6,19.125,22.65,26.175,29.7
d26,2.0,20.100000,11.313708,12.1,16.100,20.10,24.100,28.1
d27,6.0,24.383333,9.292022,14.2,17.075,22.95,31.825,36.3
d28,2.0,23.100000,11.455130,15.0,19.050,23.10,27.150,31.2
d29,4.0,22.850000,7.294062,15.3,17.325,23.00,28.525,30.1
d30,2.0,21.150000,9.404520,14.5,17.825,21.15,24.475,27.8
d31,2.0,20.400000,7.071068,15.4,17.900,20.40,22.900,25.4

In [6]:
cols = null_cols[null_cols > 0] / len(df) *100
drop_cols = cols[cols>=100]/len(df)*100
drop_cols

d9     454.545455
d12    454.545455
d18    454.545455
d19    454.545455
d20    454.545455
d21    454.545455
d22    454.545455
d24    454.545455
dtype: float64

In [8]:
threshold = 100
null_cols = null_cols[null_cols >=100] / len(df) *100
null_filter = null_cols > threshold

drop_cols = list(null_cols[null_filter].index)

drop_cols

[]