## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [34]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [35]:
# Your code here
sample_list_1 = []
while True:
    j = random.randint(0,100)
    if len(sample_list_1) == 80:
        break
    elif j not in sample_list_1:
        sample_list_1.append(j)

print(sample_list_1)

[51, 46, 91, 10, 71, 18, 3, 22, 74, 96, 33, 52, 66, 62, 87, 82, 83, 90, 40, 31, 88, 49, 61, 53, 28, 50, 27, 12, 65, 92, 26, 67, 0, 9, 56, 47, 69, 77, 100, 41, 73, 57, 30, 76, 17, 84, 98, 8, 42, 64, 70, 58, 39, 43, 68, 80, 99, 4, 21, 54, 7, 59, 75, 2, 34, 93, 15, 35, 23, 94, 95, 37, 1, 11, 81, 85, 25, 14, 86, 29]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [37]:
# Your code here
sample_list_2 = []
for i in range(0, 80):
    j = random.randint(0, 100)
    sample_list_2.append(j)
print(sample_list_2)
print(len(sample_list_2))

[54, 69, 2, 88, 87, 56, 70, 99, 49, 75, 36, 0, 30, 40, 23, 19, 93, 82, 74, 87, 44, 56, 80, 91, 88, 19, 66, 99, 78, 95, 3, 3, 76, 9, 37, 63, 29, 88, 87, 88, 73, 7, 34, 21, 87, 9, 100, 2, 64, 2, 89, 34, 84, 80, 78, 5, 46, 8, 92, 92, 24, 19, 37, 74, 6, 68, 55, 52, 28, 20, 84, 98, 20, 38, 80, 65, 67, 86, 75, 6]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [38]:
# Your code here

set2 = set(sample_list_2)

# The length of the set might not be 80 because in the last exercise we included values in the list which
# weren't unique, and since sets remove values that are repeted, the length can be lower.
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [39]:
# Your code here
set3 = set()
for element in set1:
    if element not in set2:
        set3.add(element)
print(set3)

{1, 4, 10, 11, 12, 14, 15, 17, 18, 22, 25, 26, 27, 31, 33, 35, 39, 41, 42, 43, 47, 50, 51, 53, 57, 58, 59, 61, 62, 71, 77, 81, 83, 85, 90, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [40]:
# Your code here
set4 = set()
for element in set2:
    if element not in set1:
        set4.add(element)
print(set4)

{36, 5, 6, 38, 44, 78, 19, 20, 55, 24, 89, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [41]:
# Your code here
set5 = set()
for element in set1:
    if element in set2:
        set5.add(element)
print(set5)

{0, 2, 3, 7, 8, 9, 21, 23, 28, 29, 30, 34, 37, 40, 46, 49, 52, 54, 56, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 80, 82, 84, 86, 87, 88, 91, 92, 93, 95, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [68]:
# Your code here
import math
#AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

set_l = [set1, set2, set3, set4, set5]
odd_length = []
even_length = []
for l in set_l:
    if math.fmod(len(l), 2) == 1.0:
        odd_length.append(len(l))
    else:
        even_length.append(len(l))
print(odd_length)
print(even_length)

62
55
37
12
43
[55, 37, 43]
[62, 12]

#### Create an empty set called `set6`.

In [43]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [44]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 14, 15, 17, 18, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 43, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [45]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [46]:
# Your code here
set2.issubset(set1)

False

In [47]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [48]:
# Your code here
set_union_135 = set.union(set3, set4, set5)

In [49]:
set_union_12 = set.union(set1, set2)

In [50]:
set_union_135 == set_union_12

True

#### Using the `pop` method, remove the first element from `set1`.

In [53]:
# Your code here

# Pop method is usually used to remove the last element from a set. 
set1.pop()

# I tried to use the command set1.pop(0) to remove the first element from set1, after executing the code,
# I got an error, since pop() takes no arguments. Instead, to do what the exercise says I used the remove()
# method, that way I can write the index I want to remove an element from a wanted position.
set1.remove(0)
print(set1)

{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 14, 15, 17, 18, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 43, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [55]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    if item in set1:
        set1.remove(item)
print(set1)

{2, 3, 4, 7, 8, 10, 12, 14, 15, 17, 18, 22, 23, 25, 26, 27, 28, 30, 33, 34, 35, 37, 40, 42, 43, 46, 47, 50, 52, 53, 54, 56, 57, 58, 62, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98, 100}